@mixin display-flex($justify-content: null, $flex-direction: null, $align-items: null) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
  }